p, span{
    color: black;
}

#nameColor{
    background: -webkit-linear-gradient(180deg, #1A2980, #00a6ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#positions{
    color: #0043ca;
}


.bioContainer{
    box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.84);

}

.cursor{
    color: #0043ca;
}

.desc{
    color: rgb(104, 104, 104);
}

.headerBackground{
    background-color: rgba(255,255,255, 0.8);
    box-shadow: -2px 15px 25px 0px rgba(0,0,0,0.75);
}

a:hover{
    color: #0043ca;
    text-shadow: 2px 2px 5px rgba(210, 210, 210, 0.95);
}   

.experienceContainer{
    box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.84);
    background-color: white;
}


.expCompany, .expDate{
    color: #0043ca;
}

.expDesc{
    color: rgb(104,104,104);
}

.projectContainer{

    box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.84);
    background: white;
}

.projectHeader{
    color: black;
}

.technologies{
    color: #0043ca;
}

.prjDesc{
    color: rgb(104,104,104);
}

.footerText{
    color: black;
}

#include{
    color: black !important;
    -webkit-text-fill-color: black;
  }

@media (max-aspect-ratio: 1/1) {
    .expLocation{
        color: #0043ca;
    }
}